<div class="container-fluid">
    <div class="innerbody">

    <ng-container *ngIf="num===0 || num===undefined">

    <div class="breadcumb">
     <div class="row">
         <div class="col-lg-6 col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{'add-user-mapping.user-mapping'| translate}}</li>
                  <li class="breadcrumb-item active" aria-current="page">{{'add-user-mapping.create-user-mapping'| translate}}</li>
                </ol>
              </nav>
         </div>
         <div class="col-lg-6 col-sm-12">
            <div class="iconics-div">
                <ul class="iconics-buttons">
                   <li><span class="indicates">{{'common.indicates-fields-are-mandatory' | translate}}</span></li>

                    </ul>
                </div>
         </div>
     </div>

   
    </div>
    </ng-container>


    <ng-container *ngIf="num===1">

        <div class="breadcumb">
         <div class="row">
             <div class="col-lg-6 col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item"><a href="/admin/userMapping">User Mapping</a></li>
                      <li class="breadcrumb-item active" aria-current="page">View User Mapping</li>
                    </ol>
                  </nav>
             </div>
             <div class="col-lg-6 col-sm-12">
                <div class="iconics-div">
                    <ul class="iconics-buttons">

                        <li><a onclick="window.print()" class="iconsBG" title="Print"><i class="fas fa-print"></i></a></li>
                        <li><a href="#" class="iconsBG" title="Excel"><i class="far fa-file-excel"></i></a></li>
                        <li><a  class="iconsBG" title="{{'common.Back' | translate}}" (click)='moveToSelectedTab("Create User Mapping")'><i class="fas fa-arrow-left"></i></a></li>






                    </ul>
                    </div>
             </div>
         </div>

        <!-- <h1 class="label-userMapping">User Mapping</h1> -->
        </div>
        </ng-container>


    <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="tabClick($event)">
        <mat-tab label="Create User Mapping" class="label-create-userMapping">
           <app-add-user-mapping-component></app-add-user-mapping-component>
        </mat-tab>



        

    </mat-tab-group>
    </div>
    </div>

