<div class="container-fluid">
    <div class="innerbody">
        <div class="breadcumb">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i
                                        class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Change Password</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="usersection">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
            <h4>When you change your password.please follow suggedtions.</h4>
            <br>
            <h6>1 . Passwords must be at least 8 characters long</h6>
            <h6>2 . Passwords must include a combination of at least 1 letter and 1 number</h6>
            <h6>3 . Passwords must not be a word or name since these can be easily guessed</h6>
            <h6>4 . Change your password at list twice per year</h6>
            </div>
        </div>

        
            <div class="row ">
                <div class="col-lg-4 col-sm-12">
                    <h6 class="user-title">Change Password </h6>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <form class="example-form" [formGroup]="changePasswordForm" auautocomplete="off" novalidate
                        (ngSubmit)="createChangePassword(changePasswordForm.value)">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <span class="mandatory">*</span>
                                <!-- <label>User Name:</label> -->
                                <mat-form-field appearance="fill">
                                    <mat-label><span class="label-username">Old Password</span></mat-label>
                                    <input matInput type="password" placeholder="Enter Old Password"
                                        formControlName="oldPassword">
                                    <mat-error *ngIf="hasError('oldPassword', 'required')"></mat-error>

                                   
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <span class="mandatory">*</span>
                                <!-- <label>First name</label> -->
                                <mat-form-field appearance="fill">
                                    <mat-label><span class="label-firstname">New Password</span></mat-label>
                                    <input matInput type="password" placeholder="Enter New Password"
                                        formControlName="newPassword">
                                    <mat-error *ngIf="hasError('newPassword', 'required')"></mat-error>
                                </mat-form-field>
                            </div>

                        </div>
 


                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <span class="mandatory">*</span>
                                <!-- <label>Mobile number</label> -->
                                <mat-form-field appearance="fill">
                                    <mat-label><span class="label-mobileNumber">Confirm Password</span></mat-label>
                                    <input matInput type="password" placeholder="Enter Confirm Password"
                                        formControlName="confirmPassword">
                                    <mat-error *ngIf="hasError('confirmPassword', 'required')"></mat-error>
                                    
                                         <!-- <mat-error *ngIf="confirmPassword.MustMatch">Passwords must match</mat-error>  -->
                                </mat-form-field>
                            </div>

                        </div>

                      
                    </form>
                    <div class="col-lg-12">
                        <div class="example-button">
                            <button class="btn btn-success mr-2" (click)="opensweetalert()"
                                [disabled]="changePasswordForm.invalid">Submit11</button>

                            <button class="btn btn-warning mr-2"
                                (click)="clearForm(changePasswordForm)">Reset</button>

                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>
