<!-- HTML page component for View Organization List -->
<ng-container *ngIf="authorised_flag==false">
  <h6 style="text-align: center;">** You Don't have Authorization to View this Page **</h6>
</ng-container>
<ng-container *ngIf="authorised_flag==true"> 
  <div class="container-fluid">
    <div class="innerbody">

      <div class="breadcumb">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active label-organization" aria-current="page">{{'view-organization.organization' | translate}}</li>
                    <li class="breadcrumb-item active label-view-organization" aria-current="page">{{'menu.View Organization List' | translate}}</li>
                  </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="iconics-div">
                  <ul class="iconics-buttons">
                    <li><a onclick="document.title='Organization_'+new Date().toISOString();window.print()" class="iconsBG"  title="{{'common.Print' | translate}}"><i class="fas fa-print"></i></a></li>
                      <!-- <li><a href="#" class="iconsBG" title="Excel"><i class="far fa-file-excel"></i></a></li> -->
                      <!-- <li><a href="#" class="iconsBG" title="Back"><i class="fas fa-arrow-left"></i></a></li> -->
                      <li><a class="iconsBG" title="Excel" (click)="generateExcel()"><i class="far fa-file-excel"></i></a></li>
                      <li><a  class="iconsBG" title="{{'common.Back' | translate}}" (click)='moveToSelectedTab1("Create Organization")'><i class="fas fa-arrow-left"></i></a></li>

                  </ul>
                  </div>
            </div>
        </div>

        <h1 class="label-envelope">{{'view-organization.view-organization-list' | translate}}</h1>
        <hr>

  <!-- <mat-form-field class="input-filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'view-monitoring.filter' | translate}}">
    </mat-form-field> -->
    <div class="row printremove">
      <mat-form-field *ngFor="let filter of filterSelectObj" appearance="outline" class="mb-form-0 width25">
    
        <mat-label>{{ 'common.Filter' | translate }} {{filter.name}}</mat-label>
        <ng-container *ngIf="filter.name === ''"></ng-container>
    
        <mat-select #select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
          (selectionChange)="filterChange(filter,$event)" multiple (openedChange)="openOptionSearch(filter,$event)">
          <!-- <mat-option value="">-- Select {{filter.name}} --</mat-option> -->
          <ng-container *ngIf="filter.columnProp !== 'fundingOrganization'">
            <mat-optgroup>
              <mat-form-field style="width:100%;">
                <input #searchFS autocomplete="off" placeholder="Search" aria-label="Search" matInput
                  [formControl]="searchFilter" (keyup)="chkValue(filter,$event)">
              </mat-form-field>
            </mat-optgroup>
            <mat-option *ngIf="(filter.options).length == 0" [disabled]="noResult==true">
              <div>{{ 'common.No results found!' | translate }}</div>
            </mat-option>
            <mat-option  [value]="item" *ngFor="let item of filter.options">{{item}}</mat-option>
          </ng-container>
    
          <ng-container *ngIf="filter.columnProp == 'fundingOrganization'">
            <!-- <ng-container    *ngIf="filterFundingOrgFlag==false">
              <mat-option id="fundingOrg" [value]="item" *ngFor="let item of filter.options" [disabled]="filterFundingOrgFlag" >{{item}}</mat-option>
              </ng-container> -->
            <ng-container>
              <mat-optgroup *ngIf="filterFundingOrgFlag==true">
                <mat-form-field style="width:100%;">
                  <input #searchFS autocomplete="off" placeholder="Search" aria-label="Search" matInput
                    [formControl]="searchFilter" (keyup)="chkValue(filter,$event)">
                </mat-form-field>
              </mat-optgroup>
              <mat-optgroup *ngIf="(filter.options).length == 0">
                <div>{{ 'common.No results found!' | translate }}</div>
              </mat-optgroup>
              <mat-option id="fundingOrg" [value]="item" *ngFor="let item of filter.options"
                [disabled]="filterFundingOrgFlag==false">{{item}}</mat-option>
            </ng-container>
          </ng-container>
        </mat-select>
    
      </mat-form-field>
    </div>
    <button mat-flat-button color="warn" (click)="resetFilters()" class="mt-2">{{ 'common.reset' | translate }}</button>
    <div class="row">
      <div class="col-sm-12">
        <p>
          {{'common.totalrows' | translate}} : {{ totalRows }} &nbsp;&nbsp;
          <a popover-trigger="'mouseenter'" uib-popover="Delete" href="javascript: void(0);"
          (click)="loadAllData();"> Show All Records
        </a>
        </p>
    <div class="mat-elevation-z8 table-responsive customizeTable" #epltable>
        <table id ="ExampleMaterialTable" mat-table [dataSource]="orgdataSource" class="table table-bordered" matSort>
          <ng-container matColumnDef="select" >
            <th *matHeaderCellDef style="width: 70px;" >S/N</th>
            <td *matCellDef="let row;let i = index;">
            
                <mat-checkbox (click)="$event.stopPropagation()" (change)="selectHandler(row)"
                    [checked]="selection.isSelected(row)">
                    {{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}
                </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef> - </td>
        </ng-container>
      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.name' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.names}} </td>
      </ng-container>

          <ng-container matColumnDef="acronym">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > {{'view-organization.acronym' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.acronym}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.category' | translate}} </th>
            <ng-container *ngIf="browserLang=='en'">
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              <ng-container *ngIf="browserLang=='pt'">
                <td mat-cell *matCellDef="let element"> {{element.categoryPt}} </td>
              </ng-container>
            
          </ng-container>

          <ng-container matColumnDef="parentCountry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >{{'view-organization.parent-country' | translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.country}} </td>
          </ng-container>

          <!-- Multilateral_or_bilateral:string;
          Emerging_non_Emerging:string; -->




          <!-- <ng-container matColumnDef="Multilateral_or_bilateral">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="printremove">{{'view-organization.multilateral' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="printremove"> {{element.Multilateral_or_bilateral}} </td>
          </ng-container>

          <ng-container matColumnDef="Emerging_non_Emerging">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="printremove"> {{'view-organization.emerging-not-emerging' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="printremove"> {{element.Emerging_non_Emerging}} </td>
          </ng-container>




          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >{{'view-organization.email' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.telephone' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
          </ng-container>
          <ng-container matColumnDef="telephoneCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.telephoneCode' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.telephoneCode}} </td>
          </ng-container>
          <ng-container matColumnDef="fax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.fax' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
          </ng-container> -->
          <!-- <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="printremove"> {{'view-organization.city' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="printremove"> {{element.city}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="printremove">{{'view-organization.address' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="printremove"> {{element.address}} </td>
          </ng-container>


        <ng-container matColumnDef="fundingAgency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.funding-agency' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.fundingAgency}} </td>
          </ng-container>-->

          <!-- <ng-container matColumnDef="edit">
            <th *matHeaderCellDef class="label-action"> Action </th>
            <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" (click)='editEnv(element)'>
            <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" tabindex="-1" (click)='moveToSelectedTab("Edit Organization",element)'>
                <i class="far fa-edit"></i>
            </button> </td>
        </ng-container>
        <ng-container matColumnDef="delete">
              <th *matHeaderCellDef class="label-action"> Action </th>
              <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" tabindex="-1" (click)='opensweetalertDelete()'>
                <i class="fas fa-trash-alt"></i>
              </button> </td>
            </ng-container>

            <ng-container matColumnDef="viewmore">
              <th *matHeaderCellDef class="label-action"> Action </th>
              <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" tabindex="-1" (click)='viewMoreOrganization(element)'>
                <i class="fas fa-eye"></i>
              </button> </td>
            </ng-container> -->
            <ng-container matColumnDef="edit" sticky>
              <th *matHeaderCellDef class="label-action" >{{'view-organization.action' | translate}} </th>
              <!-- <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" (click)='editEnv(element)'> -->
              <td *matCellDef="let element;let i = index;" class="printremove">
                <ng-container *ngIf="userPermission.indexOf(3)!=-1">
                  <button class="btn btn-primary btn-sm mr-1" placement="top" ngbTooltip="{{ 'common.edit' | translate }}" tabindex="-1" (click)='editOrganization(element.id)'>
                      <i class="far fa-edit"></i>
                  </button>
                </ng-container>
              
                <!-- <ng-container *ngIf="userPermission.indexOf(4)!=-1">
                  <button class="btn btn-danger btn-sm mr-1" placement="top" ngbTooltip="{{ 'common.delete' | translate }}" tabindex="-1" (click)='opensweetalertDelete(element.id)'>
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </ng-container> -->
                <ng-container *ngIf="userPermission.indexOf(2)!=-1">
                  <button class="btn btn-success btn-sm" placement="top" ngbTooltip="{{ 'common.view' | translate }}" tabindex="-1"  (click)='viewMoreOrganization(element.id)'>
                    <i class="fas fa-eye"></i>
                  </button>&nbsp;
                  <button class="btn btn-info btn-sm" placement="top" ngbTooltip="{{ 'create-envelope.viewmore' | translate }}" tabindex="-1" (click)='openDialog(element.id,element.category)'>
                    <i class="fas fa-eye"></i>
                  </button>
                </ng-container>

            </td>
          </ng-container>





          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>
      </div>
      </div>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <div class="row">
        <div class="col-lg-12 mt-3 mb-2">
          <div class="example-button">
            <button mat-flat-button color="warn" class="btn btn-danger btn-reset mr-2" (click)="opensweetalertDelete()">
              {{ 'common.delete' | translate }} 
            </button>
          </div>
        </div>
      </div>

    <ng-container *ngIf=" usergroup==='dncp' || usergroup==='cedsif' || usergroup==='bankomoz' ">


      <mat-form-field class="input-filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="row">
        <div class="col-sm-12">
      <div class="mat-elevation-z8 table-responsive" #epltable>
          <table id ="ExampleMaterialTable" mat-table [dataSource]="dataSource" class="table table-bordered" matSort>




            <!-- <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl# </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container> -->

            <ng-container matColumnDef="names">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.name' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.names}} </td>
            </ng-container>

            <ng-container matColumnDef="acronym">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.acronym' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.acronym}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.category' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>


            <ng-container matColumnDef="parentCountry">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="printremove">{{'view-organization.parent-country' | translate}} </th>
              <td mat-cell *matCellDef="let element" class="printremove"> {{element.parentCountry}} </td>
            </ng-container>
            <!-- Multilateral_or_bilateral:string;
            Emerging_non_Emerging:string; -->




            <!-- <ng-container matColumnDef="Multilateral_or_bilateral">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.multilateral' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.Multilateral_or_bilateral}} </td>
            </ng-container>

            <ng-container matColumnDef="Emerging_non_Emerging">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.emerging-not-emerging' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.Emerging_non_Emerging}} </td>
            </ng-container>




            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.email' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.telephone' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>
            <ng-container matColumnDef="telephoneCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'view-organization.telephoneCode' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.telephoneCode}} </td>
            </ng-container>
            <ng-container matColumnDef="fax">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.fax' | translate}}  </th>
              <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.city' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.address' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

          <ng-container matColumnDef="fundingAgency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'view-organization.funding-agency' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.fundingAgency}} </td>
            </ng-container> -->


  <!--
        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef class="label-action"> Action </th>
          <td *matCellDef="let element"> <button class="btn btn-primary btn-sm" tabindex="-1" (click)='moveToSelectedTab("Create Organization")'>
              <i class="far fa-edit"></i>
          </button> </td>
      </ng-container> -->


            <tr mat-header-row *matHeaderRowDef="displayedColumnsReadOnly"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsReadOnly;"></tr>
          </table>


        </div>
        </div>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </ng-container>
    </div>
    </div>
    </div>
</ng-container>