table {
  width: 100%;
}
mat-header-cell{
  color: rgb(17, 1, 1);
  font-weight: bold;
  font-size: small;
}

.mat-row:nth-child(2n+1){
  background-color:#e4f0ec;
}
/* .mat-row:not(:nth-child(4n+1)){
  background-color:#ffffff;
} */


.mat-form-field + .mat-form-field {
  margin-left: 75px;
  
}

.example-full-width {
  width: auto;
}
.example-container{
  margin-left:auto ;
  margin-right: auto;
}
.width-50{width: 29%;}

mandatory{ position: absolute; right: 0; top: 0; color: red;font-size: 18px;}

.example-full-width {

  width: auto;

}
/* .ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;}
.width-25{width: 25%;} */
/* .label{
  font-size: medium;  
  margin: auto;
  width: auto;
      margin: auto;
      width: 20%;
      padding: 10px; 
   
} */



