<!-- HTML page component for Organization -->
<div class="container-fluid">
    <div class="innerbody">
        <ng-container *ngIf="num===0 || num===undefined">

    <div class="breadcumb">
     <div class="row">
         <div class="col-lg-6 col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item active label-organization" aria-current="page">{{'add-organization.organization' | translate}}</li>
                  <li class="breadcrumb-item active label-create-organization" aria-current="page">{{'add-organization.createOrganization' | translate}}</li>
                </ol>
              </nav>
         </div>
         <div class="col-lg-6 col-sm-12">
            <div class="iconics-div">
                <ul class="iconics-buttons">
                   <li><span class="indicates label-indicates-fields-are-mandatory">{{'common.indicates-fields-are-mandatory'| translate}}</span></li>
                </ul>
                </div>
         </div>
     </div>
    </div>

</ng-container>


<ng-container *ngIf="num===1">

    <div class="breadcumb">
     <div class="row">
         <div class="col-lg-6 col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item label-organization"><a href="/admin/organization">{{'add-organization.organization' | translate}}</a></li>
                  <li class="breadcrumb-item active label-view-organization" aria-current="page">{{'add-organization.viewOrganizationList' | translate}}</li>
                </ol>
              </nav>
         </div>
         <div class="col-lg-6 col-sm-12">
            <div class="iconics-div">
                <ul class="iconics-buttons">
                    <li><a onclick="window.print()" class="iconsBG" title="Print"><i class="fas fa-print"></i></a></li>
                    <!-- <li><a href="#" class="iconsBG" title="Excel"><i class="far fa-file-excel"></i></a></li> -->
                    <li><a class="iconsBG" title="Excel" (click)="generateExcel()"><i class="far fa-file-excel"></i></a></li>
                    <li><a  class="iconsBG" title="{{'common.Back' | translate}}" (click)='moveToSelectedTab("Create Organization")'><i class="fas fa-arrow-left"></i></a></li>

                </ul>
                </div>
         </div>
     </div>

    </div>

</ng-container>
<mat-tab-group mat-align-tabs="start" (selectedIndexChange)="tabClick($event)">
    <mat-tab label="{{'add-organization.createOrganization' | translate}}" class="label-create-Organization">
        <app-add-organization-component></app-add-organization-component>
    </mat-tab>
</mat-tab-group>
</div>
</div>