
<a mat-dialog-close class="btn btn-danger btn-sm float-right" (click)="closebuttonedit()"><i class="fas fa-times"></i></a>
<div class="breadcumb">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
           <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                 <!-- <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                 <li class="breadcrumb-item active label-organization" aria-current="page">{{'view-payment.Payment' | translate}}</li> -->
                 <li class="breadcrumb-item active label-create-organization" aria-current="page">{{'view-payment.View Payment List' | translate}}</li>
               </ol>
             </nav>
        </div>
    </div>
 </div>

 <hr>



     <div class="mat-dialog-container1">
        <div class="container-fluid">
            <div class="modal-dialog modal-xl">
            <div class="col-sm-12">
           <table  class="table table-bordered ">
               <tr>

                   <th>{{'view-payment.Financing Agreement' | translate}}</th>
                   <th>{{'view-payment.Project' | translate}}</th>
                   <!-- <th>{{'view-payment.UGB MEO' | translate}}</th>
                   <th>{{'view-payment.MEO Resource Sources' | translate}}</th> -->
                   <th>{{'view-payment.Payment Date' | translate}}</th>
                   <th>{{'add-funding.funding-organization' | translate}}</th>
                   <th>{{'add-funding.donor' | translate}}</th>
                </tr>
                <tr *ngFor="let data of paymentDataList">
                  <td>{{data.fundingDonorTitle}}</td>
                  <td>{{data.projectTitle}}</td>
                  <!-- <td>{{data.ugbMEO}}</td>
                  <td>{{data.meoResourceSource}}</td> -->
                  <td>{{data.paymentDate | date:'dd/MM/yyyy'}}</td>
                  <td>{{data.fundingOrganization}}</td>
                  <td>{{data.donor}}</td>
               </tr>
           </table>
        </div></div>
       </div>
     </div>


