<div class="container-fluid">
    <div class="innerbody">
        <ng-container *ngIf="num===0 || num===undefined">
            <div class="breadcumb">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'"><i class="fas fa-home"></i></a></li>
                              <li class="breadcrumb-item active label-create-envelope" aria-current="page">{{'field-management.Adminstration' | translate}}</li>

                              <li class="breadcrumb-item active label-envelope" aria-current="page">{{'menu.view-column-access' | translate}}</li>
                            </ol>
                          </nav>
                     </div>
                     <div class="col-lg-6 col-sm-12">
                        <div class="iconics-div">
                            <ul class="iconics-buttons">
                               <li><span class="indicates">{{'common.indicates-fields-are-mandatory' | translate}}</span></li>
                            </ul>
                            </div>
                     </div>
                </div>
            </div>
        </ng-container>
        <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="tabClick($event)">
          <mat-tab label="Create User Mapping" class="label-create-userMapping">
        <div>
        <form class="example-form" [formGroup]="viewForm" >
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-12">
                  <strong class="mandatory">*</strong>
                  <mat-form-field appearance="outline" class="mb-form-0">
                    <mat-label><span class="label-Module">{{'field-management.Module' | translate}}</span></mat-label>
                    <mat-select placeholder="Select Module" formControlName="moduleName"  (selectionChange)="ModuleChangeAction()">
                      <mat-option *ngFor="let findings of findingsList" [value]="findings.findingsName">
                        {{findings.findingsName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
                <ng-container *ngIf="select_options_for_finding_hdn_flag==true">
                </ng-container>
                <ng-container *ngIf="select_options_for_finding_hdn_flag==false">
                  <!-- <div class="row mt-2">
                    <div class="col-sm-12 button-align">
                      <button class="btn btn-outline-primary btn-sm mt-1 label-reset " (click)="addNew()">Add New Item</button>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-striped table-bordered" formArrayName="tableData">
                          <thead>
                            <tr>
                             <th class="edit-width">{{'field-management.Action' | translate}}</th>
                               <th *ngFor="let column of headers">
                                {{column | translate}}
                              </th>
                              </tr>
                            </thead>
                        </table>
                        </div>
                   </div> -->
                   <div class="mat-elevation-z8" *ngIf="tableData.length > 0" >
                    <mat-form-field class="input-filter">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
                    </mat-form-field>
                    <mat-table [dataSource]="dataSource" class="table table-striped table-bordered" matSort (matSortChange)="sortData($event)">

        <!--
                      <ng-container matColumnDef="Sl No">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 90px;">
                          Sl No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item; let i = index">
                          {{ paginatorRef.pageIndex * paginatorRef.pageSize + (i + 1) }}
                        </mat-cell>
                      </ng-container> -->

                      <!-- <ng-container matColumnDef="Label Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="name">
                          Label Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                      </ng-container> -->

                      <ng-container matColumnDef="Column Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="columnName">
                          Column Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div >
                              {{ element.columnName }}
                          </div>
                          <!-- <div *ngIf="element.isEdit">
                            <mat-form-field appearance="outline" class="mb-form-0">
                              <mat-label><span class="label">Column Name</span></mat-label>
                              <input #enValue matInput maxlength="150" [(ngModel)]="element.columnName" autocomplete="off">
                          </mat-form-field>
                          </div> -->
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="status">
                          Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="!element.isEdit">
                            {{ element.status }}
                          </div>
                          <div *ngIf="element.isEdit">
                            <!-- <mat-form-field appearance="outline" class="mb-form-0">
                              <mat-label><span class="label">Status</span></mat-label>
                              <input #ptValue matInput maxlength="150" [(ngModel)]="element.status" autocomplete="off">
                          </mat-form-field> -->
                          <mat-form-field appearance="outline" class="mb-form-0">
                            <mat-label><span class="label">{{element.status}}</span></mat-label>
                            <mat-select >
                              <!-- <mat-option>None</mat-option> -->
                              <mat-option value="Active">Active</mat-option>
                              <mat-option value="Inactive">Inactive</mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Action" sticky>
                        <mat-header-cell *matHeaderCellDef class="label-action" > Action </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = index;" class="printremove">
                          <div *ngIf="!element.isEdit">
                            <button class="btn btn-info" (click)="editStatusValue(element)">
                              <mat-icon>edit</mat-icon>
                            </button>
                          </div>
                          <div *ngIf="element.isEdit">
                            <button class="btn btn-success"  type="submit" style='margin-right:16px'>
                              Update
                            </button>
                            <button class="btn btn-danger"  style='margin-right:16px'>
                              Cancel
                            </button>
                          </div>
                        </mat-cell>
                    </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
                    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                  </div>
                  </ng-container>




        </form>
      </div>
      </mat-tab>
      </mat-tab-group>
    </div>
</div>
