<div class="login-page" style='background-image:url("./assets/images/bg.jpg");
align-items: center;justify-content: center;height: 100vh;
position: relative;background-size: cover;'>
    <div class="container">

      <div class="loginscreen">
          <div class="img-log-screen">
            <img src="./assets/images/group.png" />
          </div>
        <form class="login-form" fxFlex [formGroup]="forgotPasswordform">
            <div class="text-center">
                <img src="./assets/images/loginlogo.png" />
                <h2 class="app-name">Aid Information Management System</h2>
            </div>

            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                <mat-form-field appearance="legacy">
                    <mat-label class="labeluser">User Name</mat-label>
                    <input matInput placeholder="User Name"  formControlName="username" (blur)="checkUserName()">
                    <mat-icon matPrefix><i class="i-sm fas fa-user"></i></mat-icon>
                  </mat-form-field>
                </div>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                <mat-form-field appearance="legacy">
                    <mat-label class="labeluser">Email ID</mat-label>
                    <input matInput placeholder="Email id" formControlName="mail" (blur)="checkMail()">
                    <mat-icon matPrefix><i class="i-sm  fas fa-envelope"></i></mat-icon>
                  </mat-form-field>
                </div>
            </div>

            <div fxFlex  fxLayout="row">
                <div fxFlexFill>
                    <div class="loging-button">
                    <button mat-raised-button class="btn-custom" (click)="(forgotPasswordform.invalid || userNameValid==2 || mailValid==2)?invalidAlert():getPassword()">Submit</button>

                </div>

                </div>
            </div>

            <ul class="ul-login">
                <li>
                  <a [routerLink]="'/login'">Back to Login</a>
            </ul>

        </form>



      </div>


    </div>
</div>
